<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Página de Bienvenida -->
    <div class="welcome-container">
        <h1>BIENVENIDO</h1>
        <h1>QUICK STAY</h1>
        
        <!-- Botones de Iniciar Sesión y Registrarse -->
        <div class="buttons-container">
            <button onclick="showLoginForm()">Login</button>
            <button onclick="redirectToRegistration()">Registrarse</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
